header {
    background-color: #31473A;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 160px;
    padding: 0 4vw;
    border-bottom: 3px solid rgb(255, 255, 255);
    box-shadow: 0px 6px 3px rgba(0,0,0,0.2);
}

.nav-heading-div{
    display: flex;
    justify-content: space-between;
}

.nav-heading-div img{
    margin: 10px 0;
    height: 70px;
    border-radius: 50%;
}

.header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.array-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    align-items: center;
    justify-content: right;
}
    

#a_size, #a_speed {
    width: 1fr;
    padding: 10px 0;
    accent-color: rgb(100, 135, 114);
}

.input-label{
    font-size: 20px;
    margin-right: 2vw;
}

#a_generate {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    margin-top: 10px;
    font-size: 1.6vw;
    transition: font-size 0.15s;
}

#a_generate:hover {
    color: #588277;
    padding: 10px;
    font-size: 1.7vw;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.header_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.nav-heading {
    text-align: right;
    margin: 10px 10px 0 10px;
    font-size: 2.5vw;
    padding: 20px 0px;
    transition: font-size 0.5s;
    cursor:context-menu;
}

.nav-heading:hover {
    font-size: 3vw;
    text-wrap: nowrap;
}

.algos {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 5px;
    justify-content: space-between;
    padding: 15px 5px;
}

.algos button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    outline: none;
    font-size: 1.6vw;
    cursor: pointer;
    transition: box-shadow 0.15s;
    transition: font-size 0.15s;
}

.algos button:hover {
    background-color: transparent;
    color: #588277;
    font-size: 1.7vw;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.butt_locked {
    background-color: transparent;
    color: #588277;

}

.butt_locked:hover {
    background-color: transparent;
    color: #588277;
}

.butt_selected {
    background-color: transparent;
    color: #588277;
}

.butt_selected:hover {
    background-color: transparent;
    color: #588277;
}

.butt_unselected:hover {
    cursor: pointer;
}