*{
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #EDF4F2;
    cursor: default;
    padding: 0;
    margin: 0;
  }

  .credits{
    font-size: 12px;
    transition: font-size 0.4s;
    font-weight: 500;
    /* text-wrap: nowrap; */
  }

  .credits:hover{
    font-size: 17px;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.15);
  }

  section {
    display: grid;
    grid-template-columns: 0.9fr 2.5fr 0.9fr;
    
  }
  
  .Complexity_Container1 {
    margin: 2vw 2vw 0 0;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
  }

  .Complexity_Container2 {
    margin: 2vw 0 0 2vw;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Pair_Definitions {
    height: 3vw;
    margin: 1vw 1vw;
    display: flex;
    justify-content: space-between;
  }
  
  .Pair_Definitions p {
    display: inline-block;
    font-size: 17px;
  }
  
  #Info_Cont1 {
    padding: 2vw 0 0 2vw;
    display: flex;
    flex-direction: column;
    border-right: 3px solid rgba(49, 71, 58, 0.6);
    box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.2);
  }

  #Info_Cont2 {
    padding: 2vw 2vw 0 0 ;
    display: flex;
    flex-direction: column;
    border-left: 3px solid rgba(49, 71, 58, 0.6);
    box-shadow: inset 2px 0px 3px rgba(0, 0, 0, 0.2);
  }

  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    margin: 0 2vw;
    text-wrap: nowrap;
  }

  .heading p{
    font-size: 19px;
    font-weight: 600;
    cursor:default;
    transition: font-size 0.3s;
  }

  .heading p:hover{
    font-size: 21px;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.15);
  }
  
  #array_container {
    display: flex;
    align-items: flex-end;
    padding: 0 1vw;
    height: 75vh;
  }
  
  .hide {
    display: none;
  }
  
  /*
  @media (max-width: 480px)//Mobiles
  {
      
  }
  
  @media (min-width: 481px) and (max-width: 1250px)//Tablets
  {
  
  }
  
  @media (min-width: 1251px)//Laptops and up
  {
  
  }
  */